<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>  

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDbAccess" type="UnityDemoWithConfig.IDbAccess, UnityDemoWithConfig" />
    <alias alias="IEmployee" type="UnityDemoWithConfig.IEmployee, UnityDemoWithConfig" />
    <namespace name="UnityDemoWithConfig" />
    <assembly name="UnityDemoWithConfig" />

    <container>
      <register type="IDbAccess" mapTo="SqlDataAccess" name="mySqlAccess" />
      <register type="IEmployee" mapTo="Employee" >
        <constructor>
          <param name="dbAccess" type="IDbAccess">
            <dependency name="mySqlAccess" />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>